DEF, (fib)
STORE, ra
STORE, n
(L0)
LOAD, n
STORE, t0
PUSH, 1
STORE, t1
LOAD, t0
LOAD, t1
GT
STORE, t2
LOAD, t2
JZ, L1
LOAD, n
STORE, t4
PUSH, 1
STORE, t5
LOAD, t4
LOAD, t5
SUB
STORE, t6
LOAD, t6
CALL, fib
STORE, t3
LOAD, n
STORE, t8
PUSH, 2
STORE, t9
LOAD, t8
LOAD, t9
SUB
STORE, t10
LOAD, t10
CALL, fib
STORE, t7
LOAD, t3
LOAD, t7
ADD
STORE, t11
LOAD, t11
RETURN
(L1)
LOAD, n
STORE, t12
LOAD, t12
RETURN
PUSH, None
END
PUSH, 10
STORE, t14
LOAD, t14
CALL, fib
STORE, t13
LOAD, t13
PRINT
PUSH, " "
PRINT
PUSH, "\n"
PRINT
HALT
