DEF, (hanoi)
STORE, ra
STORE, C
STORE, B
STORE, A
STORE, n
(L0)
LOAD, n
STORE, t0
PUSH, 2
STORE, t1
LOAD, t0
LOAD, t1
LT
STORE, t2
LOAD, t2
JZ, L1
LOAD, A
STORE, t3
LOAD, t3
PRINT
PUSH, " "
PRINT
PUSH, "->"
STORE, t4
LOAD, t4
PRINT
PUSH, " "
PRINT
LOAD, C
STORE, t5
LOAD, t5
PRINT
PUSH, " "
PRINT
PUSH, "\n"
PRINT
PUSH, None
RETURN
JMP, L0
(L1)
LOAD, n
STORE, t6
PUSH, 1
STORE, t7
LOAD, t6
LOAD, t7
SUB
STORE, t8
LOAD, t8
LOAD, A
STORE, t9
LOAD, t9
LOAD, C
STORE, t10
LOAD, t10
LOAD, B
STORE, t11
LOAD, t11
CALL, hanoi
POP
PUSH, 1
STORE, t12
LOAD, t12
LOAD, A
STORE, t13
LOAD, t13
LOAD, B
STORE, t14
LOAD, t14
LOAD, C
STORE, t15
LOAD, t15
CALL, hanoi
POP
LOAD, n
STORE, t16
PUSH, 1
STORE, t17
LOAD, t16
LOAD, t17
SUB
STORE, t18
LOAD, t18
LOAD, B
STORE, t19
LOAD, t19
LOAD, A
STORE, t20
LOAD, t20
LOAD, C
STORE, t21
LOAD, t21
CALL, hanoi
POP
PUSH, None
END
PUSH, "Please enter the number: "
STORE, t23
LOAD, t23
INPUT
STORE, t22
LOAD, t22
STORE, num
LOAD, num
STORE, t24
LOAD, t24
PUSH, 'A'
STORE, t25
LOAD, t25
PUSH, 'B'
STORE, t26
LOAD, t26
PUSH, 'C'
STORE, t27
LOAD, t27
CALL, hanoi
POP
HALT
