PUSH, 0
STORE, t0
LOAD, t0
STORE, s
PUSH, 1
STORE, t1
LOAD, t1
STORE, i
(L0)
LOAD, i
STORE, t2
PUSH, 11
STORE, t3
LOAD, t2
LOAD, t3
LT
STORE, t4
LOAD, t4
JZ, L1
LOAD, s
STORE, t5
LOAD, i
STORE, t6
LOAD, t5
LOAD, t6
ADD
STORE, t7
LOAD, t7
STORE, s
LOAD, i
STORE, t8
PUSH, 1
STORE, t9
LOAD, t8
LOAD, t9
ADD
STORE, t10
LOAD, t10
STORE, i
JMP, L0
(L1)
LOAD, s
STORE, t11
LOAD, t11
PRINT
HALT
